# This is Git's per-user configuration file.
[core]
  ignorecase = true
  excludesfile = ~/.gitignore
[credential]
  helper = /run/current-system/sw/bin/git-credential-gnome-keyring
[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
[user]
	name = Andrei Alexandru
	email = alexconstantin.alexandru@gmail.com
