"*":
  "atom-easy-jsdoc":
    useReturns: true
  core:
    disabledPackages: [
      "whitespace"
      "wrap-guide"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 35
  editor:
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "bd4b81db-758c-4626-8e1a-3680dee39ccf"
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-eslint":
    fixOnSave: true
    ignoreFixableRulesWhileTyping: true
    lintHtmlFiles: true
    rulesToDisableWhileFixing: [
      "no-debugger"
    ]
  "linter-scss-lint": {}
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
